<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28"
        tools:ignore="ScopedStorage"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_LOGS" tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO"/>

    <application
        android:name=".MainActivity"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Bidaappscoreboard"
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true">
        <activity
            android:name=".ui.watchMatchAgain.WatchMatchAgainScreen"
            android:exported="true"
            android:screenOrientation="landscape"/>
        <!-- <activity -->
        <!-- android:name=".MainActivity" -->
        <!-- android:exported="false"> -->
        <!-- <meta-data -->
        <!-- android:name="android.app.lib_name" -->
        <!-- android:value="" /> -->
        <!-- </activity> -->
        <activity
            android:name=".ui.matchSolo.MatchScreen"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.matchSolo.WaitMatchScreen"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.matchSolo.ChosePlayer"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.findAnOppnent.FindAnOpponent"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.matchSolo.MatchSoloScreen"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.RegisterScreen"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.HomeScreen"
            android:exported="true"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".ui.SettingScreen"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.LoginScreen"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.SplashActivity"
            android:exported="true"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>